<!DOCTYPE html>
<html lang="en">
<head>
               <meta charset="UTF-8">
               <meta name="viewport" content="width=device-width, initial-scale=1.0">
               <title>Document</title>
</head>
<body>
    {% if count %}
    {% for i in count %}
          <!-- cards start -->


     
     <!-- column2 -->
     
     <div class="container">
       <div class="row mt-6 d-flex justify-content-center">
           <!-- First Card -->
           <div class="col-6 col-md-2 mb-3">
               <div class="card" style="width: 10rem;">
                   <img src="https://cdn.shopify.com/s/files/1/0521/3460/9077/products/16088_S1-8901030691386.jpg?v=1610439856" height="135px">
                   <div class="card-body">
                       <h5 class="card-title">Card 1</h5>
                       <p class="card-text">Some quick example text.</p>
                       <a href="#" class="card-link">Add to cart</a><br/>
             
             <a href="#" class="card-link">Buy Now</a>
                       
                   </div>
               </div>
           </div>
     
           <!-- Second Card -->
           <div class="col-6 col-md-2 mb-3">
               <div class="card" style="width: 10rem;">
                   <img src="https://images-na.ssl-images-amazon.com/images/I/6188sWWYVNL.jpg" height="135px">
                   <div class="card-body">
                       <h5 class="card-title">Card 2</h5>
                       <p class="card-text">Some quick example text.</p>
                       <a href="#" class="card-link">Add to cart</a><br/>
             
             <a href="#" class="card-link">Buy Now</a>
                       
                   </div>
               </div>
           </div>
     
           <!-- Third Card -->
           <div class="col-6 col-md-2 mb-3">
               <div class="card" style="width: 10rem;">
                   <img src="https://images-na.ssl-images-amazon.com/images/I/619-6lqjiWL._SL1000_.jpg" height="135px">
                   <div class="card-body">
                       <h5 class="card-title">Card 3</h5>
                       <p class="card-text">Some quick example text.</p>
                       <a href="#" class="card-link">Add to cart</a><br/>
             
             <a href="#" class="card-link">Buy Now</a>
                       
                   </div>
               </div>
           </div>
     
           
           <!-- Fourth Card -->
           <div class="col-6 col-md-2 mb-3">
               <div class="card" style="width: 10rem;">
                   <img src="https://tse1.mm.bing.net/th?id=OIP.7rAPY7bNZFbdUfVl1SWJowHaHa&pid=Api&P=0&h=180" height="135px">
                   <div class="card-body">
                       <h5 class="card-title">Card 4</h5>
                       <p class="card-text">Some quick example text.</p>
                       <a href="#" class="card-link">Add to cart</a><br/>
             
             <a href="#" class="card-link">Buy Now</a>
                       
                   </div>
               </div>
           </div>
     
           <!-- Fifth Card -->
           <div class="col-6 col-md-2 mb-3">
               <div class="card" style="width: 10rem;">
                   <img src="https://yomind.space/wp-content/uploads/2021/01/81F9IU4rW0L._SL1500_-3.jpg" height="135px">
                   <div class="card-body">
                       <h5 class="card-title">Card 5</h5>
                       <p class="card-text">Some quick example text.</p>
                       <a href="#" class="card-link">Add to cart</a><br/>
             
             <a href="#" class="card-link">Buy Now</a>
                       
                   </div>
               </div>
           </div>
     
           <!-- Sixth Card -->
           <div class="col-6 col-md-2 mb-3">
               <div class="card" style="width: 10rem;">
                   <img src="https://tse4.mm.bing.net/th?id=OIP.YuNQJ26iM3BhVHA23uFvcAHaIR&pid=Api&P=0&h=180" height="135px">
                   <div class="card-body">
                       <h5 class="card-title">Card 6</h5>
                       <p class="card-text">Some quick example text.</p>
                       <a href="#" class="card-link">Add to cart</a><br/>
             
             <a href="#" class="card-link">Buy Now</a>
                       
                   </div>
               </div>
           </div>
     
           
       </div>
     </div> 
     
     <!-- column3 -->
     
     <div class="container">
       <div class="row mt-6 d-flex justify-content-center">
           <!-- First Card -->
           <div class="col-6 col-md-2 mb-3">
               <div class="card" style="width: 10rem;">
                   <img src="https://tse4.mm.bing.net/th?id=OIP.8-SZCDiDcmhwKLH8PAOTyQHaGO&pid=Api&P=0&h=180" height="135px">
                   <div class="card-body">
                       <h5 class="card-title">Card 1</h5>
                       <p class="card-text">Some quick example text.</p>
                       <a href="#" class="card-link">Add to cart</a><br/>
             
             <a href="#" class="card-link">Buy Now</a>
                       
                   </div>
               </div>
           </div>
     
           <!-- Second Card -->
           <div class="col-6 col-md-2 mb-3">
               <div class="card" style="width: 10rem;">
                   <img src="https://tse4.mm.bing.net/th?id=OIP.R_z0Vm7C_kg4QydU9L-5qgHaFG&pid=Api&P=0&h=180" height="135px">
                   <div class="card-body">
                       <h5 class="card-title">Card 2</h5>
                       <p class="card-text">Some quick example text.</p>
                       <a href="#" class="card-link">Add to cart</a><br/>
             
             <a href="#" class="card-link">Buy Now</a>
                       
                   </div>
               </div>
           </div>
     
           <!-- Third Card -->
           <div class="col-6 col-md-2 mb-3">
               <div class="card" style="width: 10rem;">
                   <img src="https://tse4.mm.bing.net/th?id=OIP.FRDLVNNMfd-5LmPD6f6ysQHaI4&pid=Api&P=0&h=180" height="135px">
                   <div class="card-body">
                       <h5 class="card-title">Card 3</h5>
                       <p class="card-text">Some quick example text.</p>
                       <a href="#" class="card-link">Add to cart</a><br/>
             
             <a href="#" class="card-link">Buy Now</a>
                       
                   </div>
               </div>
           </div>
     
           
           <!-- Fourth Card -->
           <div class="col-6 col-md-2 mb-3">
               <div class="card" style="width: 10rem;">
                   <img src="https://tse2.mm.bing.net/th?id=OIP.s3ZSrLa3VcuWUG_hlZSmngHaEI&pid=Api&P=0&h=180" height="135px">
                   <div class="card-body">
                       <h5 class="card-title">Card 4</h5>
                       <p class="card-text">Some quick example text.</p>
                       <a href="#" class="card-link">Add to cart</a><br/>
             
                         <a href="#" class="card-link">Buy Now</a>
                       
                   </div>
               </div>
           </div>
     
           <!-- Fifth Card -->
           <div class="col-6 col-md-2 mb-3">
               <div class="card" style="width: 10rem;">
                   <img src="https://tse2.mm.bing.net/th?id=OIP._Ll_DEQo9rFBvlb_lCDc0QHaEo&pid=Api&P=0&h=180" height="135px">
                   <div class="card-body">
                       <h5 class="card-title">Card 5</h5>
                       <p class="card-text">Some quick example text.</p>
                       <a href="#" class="card-link">Add to cart</a><br/>
             
             <a href="#" class="card-link">Buy Now</a>
                       
                   </div>
               </div>
           </div>
     
           <!-- Sixth Card -->
           <div class="col-6 col-md-2 mb-3">
               <div class="card" style="width: 10rem;">
                   <img src="https://tse4.mm.bing.net/th?id=OIP.ejyO8oZkxcvakR4hnHmahwHaE0&pid=Api&P=0&h=180" height="135px">
                   <div class="card-body">
                       <h5 class="card-title">Card 6</h5>
                       <p class="card-text">Some quick example text.</p>
                       <a href="#" class="card-link">Add to cart</a><br/>
             
             <a href="#" class="card-link">Buy Now</a>
                       
                   </div>
               </div>
           </div>
           {% endfor %}
           {% endif %}
           
     
           
       </div>
     </div>       
</body>
</html>
<a href="{{ url_for('abhi') }}" class="nav-link" style="color: #ffcdd2">
    <button class="one btn btn-primary">
        <i class="fas fa-sign-in-alt"></i> {{user_email}}
    </button> 

</a>