<!DOCTYPE html>
<html lang="en">
<head>
               <meta charset="UTF-8">
               <meta name="viewport" content="width=device-width, initial-scale=1.0">
               <title>Document</title>
               <style>
                              .one{
                                             position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
                              }
               </style>
</head>
<body>
            <img src="https://static.vecteezy.com/system/resources/previews/006/852/804/original/abstract-blue-background-simple-design-for-your-website-free-vector.jpg" alt="nature">   
             <center>
               <form class="one">
                              <label>username</label>
               <input type="text" name="text">
               <label>username</label>
               <input type="text" name="text">
               <label>username</label>
               <input type="text" name="text">
               </form>
             </center>
</body>
</html>